Possible typo in reference to RFC6265

> Let's also slightly modify the creation-time algorithm in [step 11.3 of section 5.3 of RFC6265](https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis#section-5.3) by persisting the creation time only for cookies whose value doesn't change

Is this reference correct? There doesn't seem to be a step 11.3 in section 5.3 in the current version of the RFC.

Should it be step 17.3 of section 5.4 instead?

Yup. My fault: should have been RFC6265bis, which I'm _way_ behind on finishing.

(Fixed in https://github.com/mikewest/cookies-over-http-bad/commit/7348563606e26f3eb09b43d9c0c88718a4f5d5ef)

Sorry if I wasn't clear -- I meant the section number and step number you quote don't point to the right thing in bis-02 any more

(they were correct for the original RFC6265 but you've obviously added a lot since then and need to update the reference here correspondingly)

You are entirely correct. Thanks for pointing it out! :)